.MobNavBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MobNavBar > .NavIcon  {
    margin: 5px auto;
}

.MobNavBar > button {
    background: black;
    font-weight: bold;
    font-size: 15px;
    color: #61dafb;
    border: none;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;   
    margin: 10px 0 4px 0;
}

.MobNavBar > button:focus {
    outline: none;
}

.MobNavBar > .NavBar__ItemsList {
    flex-direction: column;
    background: rgba(105,105,105, 0.4);
}