
.NavBarMenuEntry {
    margin: 5px 80px;
    font-size: 17px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    align-self: center;
    padding: 0 10px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.NavBarMenuEntry:hover {
    color: black;
    background: rgb(195,195,195);
    border-bottom: 5px solid rgb(26,162,147);
}