<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/home-page.css">
  <title>Document</title>
</head>
<body>
  <!-- navbar -->
  <div class="" id="navbar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Latest Manga</a></li>
      <li><a href="#">Hot Manga</a></li>
      <li><a href="#">New Manga</a></li>
      <li><a href="#">Completed Manga</a></li>
      <li><a href="#">Read Light Novel</a></li>
      <li id="icon-page-navbar"><a href="#">Doragon Manga :D</a></li>
    </ul>
  </div>

  <!-- popular manga container -->
  <div id="popular-manga-container">
    <div class="header-popular-manga">
      <img src="/icons/thumb-up.png" alt="thumb-up">
      <h2>Popular Manga</h2>
    </div>
    <div class="" id="popular-manga-cover-page-container">
      <div class="manga-cover-page">
        <img src="/images/one-piece-cover-page.jpg" alt="cover-page">
        <div class="" id="title-chapter-manga-cover-page">
          <h4 id="manga-title">One Piece</h4>
          <h4 id="manga-chapter">Chapter 902</h4>
          <div id="go-to-manga-buttom">
            <a href="#"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
      <div class="manga-cover-page">
        <img src="/images/one-piece-cover-page.jpg" alt="cover-page">
        <div class="" id="title-chapter-manga-cover-page">
          <h4 id="manga-title">One Piece</h4>
          <h4 id="manga-chapter">Chapter 902</h4>
          <div id="go-to-manga-buttom">
            <a href="#"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
      <div class="manga-cover-page">
        <img src="/images/one-piece-cover-page.jpg" alt="cover-page">
        <div class="" id="title-chapter-manga-cover-page">
          <h4 id="manga-title">One Piece</h4>
          <h4 id="manga-chapter">Chapter 902</h4>
          <div id="go-to-manga-buttom">
            <a href="#"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
      <div class="manga-cover-page">
        <img src="/images/one-piece-cover-page.jpg" alt="cover-page">
        <div class="" id="title-chapter-manga-cover-page">
          <h4 id="manga-title">One Piece</h4>
          <h4 id="manga-chapter">Chapter 902</h4>
          <div id="go-to-manga-buttom">
            <a href="#"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
      <div class="manga-cover-page">
        <img src="/images/one-piece-cover-page.jpg" alt="cover-page">
        <div class="" id="title-chapter-manga-cover-page">
          <h4 id="manga-title">One Piece</h4>
          <h4 id="manga-chapter">Chapter 902</h4>
          <div id="go-to-manga-buttom">
            <a href="#"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
      <div class="manga-cover-page">
        <img src="/images/one-piece-cover-page.jpg" alt="cover-page">
        <div class="" id="title-chapter-manga-cover-page">
          <h4 id="manga-title">One Piece</h4>
          <h4 id="manga-chapter">Chapter 902</h4>
          <div id="go-to-manga-buttom">
            <a href="#"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
      <div class="manga-cover-page">
        <img src="/images/one-piece-cover-page.jpg" alt="cover-page">
        <div class="" id="title-chapter-manga-cover-page">
          <h4 id="manga-title">One Piece</h4>
          <h4 id="manga-chapter">Chapter 902</h4>
          <div id="go-to-manga-buttom">
            <a href="#"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
      <div class="manga-cover-page">
        <img src="/images/one-piece-cover-page.jpg" alt="cover-page">
        <div class="" id="title-chapter-manga-cover-page">
          <h4 id="manga-title">One Piece</h4>
          <h4 id="manga-chapter">Chapter 902</h4>
          <div id="go-to-manga-buttom">
            <a href="#"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
      <div class="manga-cover-page">
        <img src="/images/one-piece-cover-page.jpg" alt="cover-page">
        <div class="" id="title-chapter-manga-cover-page">
          <h4 id="manga-title">One Piece</h4>
          <h4 id="manga-chapter">Chapter 902</h4>
          <div id="go-to-manga-buttom">
            <a href="#"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
      <div class="manga-cover-page">
        <img src="/images/one-piece-cover-page.jpg" alt="cover-page">
        <div class="" id="title-chapter-manga-cover-page">
          <h4 id="manga-title">One Piece</h4>
          <h4 id="manga-chapter">Chapter 902</h4>
          <div id="go-to-manga-buttom">
            <a href="#"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
      <div class="manga-cover-page">
        <img src="/images/one-piece-cover-page.jpg" alt="cover-page">
        <div class="" id="title-chapter-manga-cover-page">
          <h4 id="manga-title">One Piece</h4>
          <h4 id="manga-chapter">Chapter 902</h4>
          <div id="go-to-manga-buttom">
            <a href="#"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
      <div class="manga-cover-page">
        <img src="/images/one-piece-cover-page.jpg" alt="cover-page">
        <div class="" id="title-chapter-manga-cover-page">
          <h4 id="manga-title">One Piece</h4>
          <h4 id="manga-chapter">Chapter 902</h4>
          <div id="go-to-manga-buttom">
            <a href="#"><img src="/icons/right-arrow-circular-button.png" alt="arrow-button"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- main grid for latest manga releases, most popular manga and genres -->
  <div id="container">

    <!-- latest-manga grid area -->
    <div id="latest-manga-container">
      <!-- header latest manga -->
      <div class="header-popular-manga">
        <img src="/icons/thumb-up.png" alt="thumb-up">
        <h2>Latest Manga Realeases</h2>
      </div>
      <!-- single manga view -->
      <div id="latest-manga-view-container">
        <div id="latest-manga-view">
          <img src="/images/mini-cover-page-test.jpg" alt="cover-page">
          <div id="chapter-list">          
            <a id="manga-title-view"href="#">Seirei no Moribito</a>
            <div id="chapter-prompt">
              <img src="/icons/greater.png" alt="greate-icon">
              <a href="#" id="chapter-number">Chapter 34</a>
              <h6 id="chapter-release-date">5 hour ago</h6>
            </div>
            <div id="chapter-prompt">
              <img src="/icons/greater.png" alt="greate-icon">
              <a href="#" id="chapter-number">Chapter 34</a>
              <h6 id="chapter-release-date">5 hour ago</h6>
            </div> 
            <div id="chapter-prompt">
              <img src="/icons/greater.png" alt="greate-icon">
              <a href="#" id="chapter-number">Chapter 34</a>
              <h6 id="chapter-release-date">5 hour ago</h6>
            </div> 
            <div id="chapter-prompt">
              <img src="/icons/greater.png" alt="greate-icon">
              <a href="#" id="chapter-number">Chapter 34</a>
              <h6 id="chapter-release-date">5 hour ago</h6>
            </div> 
            <div id="chapter-prompt">
              <img src="/icons/greater.png" alt="greate-icon">
              <a href="#" id="chapter-number">Chapter 34</a>
              <h6 id="chapter-release-date">5 hour ago</h6>
            </div> 
          </div>
        </div>
        <div id="latest-manga-view">
          <img src="/images/mini-cover-page-test.jpg" alt="cover-page">
          <div id="chapter-list">          
          <a id="manga-title-view"href="#">Seirei no Moribito</a>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
        </div>
      </div>
      <div id="latest-manga-view">
        <img src="/images/mini-cover-page-test.jpg" alt="cover-page">
        <div id="chapter-list">          
          <a id="manga-title-view"href="#">Seirei no Moribito</a>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
        </div>
      </div>
      <div id="latest-manga-view">
        <img src="/images/mini-cover-page-test.jpg" alt="cover-page">
        <div id="chapter-list">          
          <a id="manga-title-view"href="#">Seirei no Moribito</a>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
        </div>
      </div>
      <div id="latest-manga-view">
        <img src="/images/mini-cover-page-test.jpg" alt="cover-page">
        <div id="chapter-list">          
          <a id="manga-title-view"href="#">Seirei no Moribito</a>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
        </div>
      </div>
      <div id="latest-manga-view">
        <img src="/images/mini-cover-page-test.jpg" alt="cover-page">
        <div id="chapter-list">          
          <a id="manga-title-view"href="#">Seirei no Moribito</a>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
        </div>
      </div>
      <div id="latest-manga-view">
        <img src="/images/mini-cover-page-test.jpg" alt="cover-page">
        <div id="chapter-list">          
          <a id="manga-title-view"href="#">Seirei no Moribito</a>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
        </div>
      </div>
      <div id="latest-manga-view">
        <img src="/images/mini-cover-page-test.jpg" alt="cover-page">
        <div id="chapter-list">          
          <a id="manga-title-view"href="#">Seirei no Moribito</a>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
        </div>
      </div>
      <div id="latest-manga-view">
        <img src="/images/mini-cover-page-test.jpg" alt="cover-page">
        <div id="chapter-list">          
          <a id="manga-title-view"href="#">Seirei no Moribito</a>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
        </div>
      </div>
      <div id="latest-manga-view">
        <img src="/images/mini-cover-page-test.jpg" alt="cover-page">
        <div id="chapter-list">          
          <a id="manga-title-view"href="#">Seirei no Moribito</a>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
        </div>
      </div>
      <div id="latest-manga-view">
        <img src="/images/mini-cover-page-test.jpg" alt="cover-page">
        <div id="chapter-list">          
          <a id="manga-title-view"href="#">Seirei no Moribito</a>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
        </div>
      </div>
      <div id="latest-manga-view">
        <img src="/images/mini-cover-page-test.jpg" alt="cover-page">
        <div id="chapter-list">          
          <a id="manga-title-view"href="#">Seirei no Moribito</a>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div>
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
          <div id="chapter-prompt">
            <img src="/icons/greater.png" alt="greate-icon">
            <a href="#" id="chapter-number">Chapter 34</a>
            <h6 id="chapter-release-date">5 hour ago</h6>
          </div> 
        </div>
      </div>
      </div>
    </div>
    
    <!-- most-popular grid area -->
    <div id="most-popular-container">
      
    </div>
    <div id="genres-container">

    </div>
  </div>
</body>
</html>