.b-chapters-list {
  width: 100%;
  margin: 5px;
}

.b-chapters-list__header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  color: lightsalmon;
  font-weight: bold;
  font-size: 13px;
  margin: 4px;
}

.b-chapters-list__list {
  text-decoration: none;
  overflow-y: scroll;
  height: 400px;
  transition: color 0.3s;
}

.b-chapters-list__list::-webkit-scrollbar {
  width: 17px;
}

.b-chapters-list__list::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 7px;
  box-shadow: inset 0 0 0 10px;
}

.contb-chapters-list__listainer::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
.b-chapters-list__list::-webkit-scrollbar-corner {
  background-color: transparent;
}

.b-chapters-list__item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-column-gap: 15px;
  color: white;
  font-size: 14px;
  margin: 5px 0;
}

.b-chapters-list__item > a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-chapters-list__item > a:hover {
  color: lightpink;
}
