:root {
  --black-color: #202124;
  --bg-color: #ccc;
  --violet: #7F00FF;
  --electric-violet: #8F00FF;
  --vivid-violet: #9F00FF;
  --web-violet: #EE82EE;
  --dark-violet: #9400D3;
  --mauve: #E0B0FF;
  --lavander: #B57EDC;
}

body {
  font: 14px "Arial", Helvetica, Arial, sans-serif;
  /* background: url(/images/bg.jpg); */
  background-color: var(--bg-color);
  margin: 0;
}

/* ================= navbar =================*/

#navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--black-color);
}

#navbar ul > :first-child {
  margin-left: 5%;
}

#navbar li .entry {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 29px;
}

#navbar .active {
  border-bottom: 5px solid white;  
} 

#navbar li .entry:hover {
  background-color: var(--lavander);
  text-shadow: 4px 4px 10px black;
}

#logo {
  display: flex;
  align-content: center;
  justify-content: start;
  margin: auto;
}

#logo a {
  text-decoration: none;
}


#main-icon {
  width: 50px;
  height: 50px;
}

#main-title {
  width: 350px;
  height: 50px;
}

/* ================= main container =================*/

#main-container {
  margin: 0 17%;
}

/* ================= header popular-manga-container =================*/

.header-popular-manga {
  display: flex;
  margin-top: 10px;
  /* background: linear-gradient(to right, black, rgba(0,0,0,0)); */
  background-color: black;
}

.header-popular-manga > img {
  width: 16px;
  height: 16px;
  align-self: center;
  padding: 5px;
}

.header-popular-manga > h2 {
  font-size: 14px;
  color: white;
}


/* ================= popular-manga-container =================*/

#popular-manga-cover-page-container {
  display: flex;
  /* background: url(/images/tile1.png); */
  background-color: black;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 4px solid black;
  box-sizing: border-box;
}

/* ================= manga-cover-page =================*/

.manga-cover-page {
  position: relative;
  width: 1fr;
  margin: 0 1px;
}

.manga-cover-page:first-child {
  margin-left: 0;
}

.manga-cover-page:last-child {
  margin-right: 0;
}

.manga-cover-page > img {
  width: 100%;
  height: 100%;
}

.title-chapter-manga-cover-page {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  color: white;
  font-size: 11px;
  top: 84%;
  width: 100%;
  bottom: 0;
}

.title-chapter-manga-cover-page h4 {
  margin:0;
  margin-top: 2px;
  margin-left: 5px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 75%;
}

.manga-title {
  font-size: 12px;
  color: #059e9a;
}

.manga-chapter {
  font-size: 10px;
}

.go-to-manga-buttom {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 5px;
  right: 10px;
}

/* ================= container =================*/

#container {
  display: grid;
  grid-template-areas: "latest-manga most-popular"
                       "latest-manga genres";
  margin-top: 10px;
  grid-template-columns: 2fr 1fr;
  }

#latest-manga-container {
  grid-area: latest-manga;
  display: grid;
  grid-template-areas: "header-latest-manga"
                       "latest-manga-views";
}

#most-popular-container {
  grid-area: most-popular;
}

#genres-container {
  grid-area: genres;
}

/* ================= header latest-manga-container =================*/

.header-latest-manga {
  grid-area: header-latest-manga;
  display: flex;
  background: linear-gradient(to right, black, rgba(0,0,0,0));

}

.header-latest-manga > img {
  width: 16px;
  height: 16px;
  align-self: center;
  padding: 5px;
}

.header-latest-manga > h2 {
  font-size: 14px;
  color: white;
}

/* ================= latest-manga-view-container =================*/

#latest-manga-view-container {
  grid-area: latest-manga-views;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 220px);
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box;
}

/* ================= latest-manga-view =================*/

.latest-manga-view {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* border: 1px solid red; */
  width: 1fr;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.latest-manga-view > img {
  width: 135px;
  height: 210px;
}

.manga-title-view {
  text-decoration: none;
  color: #059e9a;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  align-self: center;
}

.chapter-list {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.chapter-prompt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.chapter-prompt > img {
  width: 10px;
  height: 10px;
  padding: 0 7px;
}

.chapter-number {
  font-size: 14px;
  margin: 0;
  text-decoration: none;
  color: black;
}

.chapter-release-date {
  font-size: 8px;
  margin: 0 auto;
  color: gray;
}

/* ================= media queries =================*/
