.double-column-flex-list {
  display: flex;
  flex-wrap: wrap;
  padding: 17px 13px;
}

.double-column-flex-list__item {
  width: 50%;
  margin: 3px 0 15px 0;
}

@media screen and (max-width: 700px) {
  .double-column-flex-list__item {
    width: 100%;
  }
}
