.synopsis-portrait {
  width: 100%;
  display: flex;
  height: 200px;
  padding: 10px;
}

.synopsis-portrait__img {
  width: 112px;
  height: 175px;
}

.synopsis-portrait__wrapper {
  display: flex;
  flex-direction: column;
  padding: 7px 15px;
}

.synopsis-portrait__title {
  color: white;
  text-decoration: none;
}

.synopsis-portrait__chapter {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.synopsis-portrait__views {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.synopsis-portrait__counts {
  color: white;
}

.synopsis-portrait__icon {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.synopsis-portrait__counts {
}

.synopsis-portrait__synopsis {
  color: white;
  height: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  font-size: 13px;
  padding: 2px 0;
}
