body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: url(/static/theme/img/body-bg.png);
}

.nav-bar {
  background-color: black;
  color: white;
  padding: 0px 15%;
  display: flex;
  justify-content: space-between;
}

/* === Mobile === */

.nav-bar__desk-nav {
  width: 100%;
  display: block;
}

.nav-bar__mob-nav {
  width: 100%;
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-bar__mob-nav {
    display: block;
  }
  .nav-bar__desk-nav {
    display: none;
  }
}

.nav-bar__items-list {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
}

.nav-bar__item {
    display: flex;
    align-self: center;
    vertical-align: middle;
    margin: 5px 0;
}

.nav-icon {
    display: flex;
    margin: 0 auto;
}

.nav-icon_img {
    height: 40px;
    align-self: center;
    vertical-align: middle;
}
.mob-nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mob-nav-bar > .nav-icon  {
    margin: 5px auto;
}

.mob-nav-bar > button {
    background: black;
    font-weight: bold;
    font-size: 15px;
    color: #61dafb;
    border: none;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;   
    margin: 10px 0 4px 0;
}

.mob-nav-bar > button:focus {
    outline: none;
}

.mob-nav-bar > .nav-bar__items-list {
    flex-direction: column;
    background: rgba(105,105,105, 0.4);
}
.nav-bar-menu-entry {
  padding: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
  color: white;
  text-align: center;
  text-decoration: none;
  align-self: center;
  vertical-align: middle;
  border: none;
  background-color: black;
}

.nav-bar-menu-entry:hover {
  color: #61dafb;
}

.user-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.user-profile__name {
    font-size: 15px;
    margin: 0 25px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(187,239,253,0.2);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.user-profile__name__p {
    font-size: 16px;
}

.user-profile__icon {
    height: 30px;
    width: 30px;
}
.footer {
    background-color: black;
    padding: 10px 20%;
}

.footer__title {
    color: #61dafb;
    font-size: 15px;
    padding-bottom: 5px;
}

.footer__text {
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
    color: white;
}

.footer__copy {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    text-justify: center;
    color: white;
}
.main-container {
  margin: 20px 15%;
  display: grid;
  grid-template:
    "search search" auto
    "popular popular" auto
    "latest genres" auto
    / 2fr 1fr;
}

.searchbar-container-item {
  grid-area: search;
  margin: 0 15%;
  margin-bottom: 15px;
}

.popular-manga-container-item {
  grid-area: popular;
}

.latest-manga-container-item {
  grid-area: latest;
  height: auto;
}

.genres-manga-container-item {
  grid-area: genres;
}

@media screen and (max-width: 1024px) {
  .popular-manga-container-item {
    display: none;
  }
  .genres-manga-container-item {
    display: none;
  }
  .searchbar-container-item {
    display: none;
  }
  .main-container {
    margin: 20px 0;
    grid-template:
      "latest" auto
      "genres" auto
      / 100%;
  }
}

.search-bar {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightblue;
    margin-bottom: 7px;
}
.search-bar__icon {
    margin-left: 15px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.search-bar__input {
    font-size: 14px;
    color: #5a6674;
    width: 85%;
    height: 20px;
    border: none;
    outline: none;
}

.search-bar__tags {
    border-left: 2px solid #5a6674;
    padding: 0 10px;
    color: #5a5a5a;
}

.section-container {
  position: relative;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.83);
  border: 4px solid red;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.section-container__title-bar {
  position: absolute;
  left: -15px;
  top: -20px;
}

.title-bar {
    height: 30px;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
}

.title-bar__icon {
    margin: 0 5px 0 15px;
    align-self: center;
    width: 25px;
    height: 25px;
}

.title-bar__text {
    color: white;
    margin: 0 10px;
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    align-self: center;
}

.title-bar__border {
    margin-left: 5px;
    width: 100%;
    background-color: black;
    border-radius: 3px;
    border-top: 10px solid yellowgreen;
}
.genre-list {
  padding-bottom: 5px;
}

.genre-list__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  color: white;
  margin-left: 20px;
  padding-top: 14px;
}

.genre-list__item {
  font-size: 14px;
  padding: 2px 0;
}

.genre-list__item__link {
  text-decoration: none;
  color: white;
}

.genre-list__item__link:hover {
  color: hotpink;
}

.portrait-list {
  margin: 1px;
  padding: 23px 0px 13px 0px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.portrait-list__item {
  display: flex;
  align-self: center;
  vertical-align: middle;
  position: relative;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
  border: 1px solid white;
}

.portrait-list__item__img {
  width: 120px;
  height: 170px;
  overflow: hidden;
}

.portrait-list__item:hover {
  transform: scale(1.1);
  z-index: 1;
}

.portrait-list__item__name {
  position: absolute;
  left: 50%;
  top: 75%;
  margin-left: -50%;
  margin-right: -50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 25px;
  text-align: center;
  border-radius: 5px;
}

.double-column-flex-list {
  display: flex;
  flex-wrap: wrap;
  padding: 17px 13px;
}

.double-column-flex-list__item {
  width: 50%;
  margin: 3px 0 15px 0;
}

@media screen and (max-width: 700px) {
  .double-column-flex-list__item {
    width: 100%;
  }
}

.chapters-list {
  /* border: 1px solid blueviolet; */
  width: 100%;
  list-style: none;
}

.chapters-list__title {
  color: #059e9a;
  font-size: 12px;
  font-weight: bold;
}

.chapters-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  /* border: 1px solid red; */
}

.chapters-list-item__wrapper {
  width: 50%;
  display: fleX;
  align-items: center;
}

.chapters-list-item__icon {
  width: 9px;
  height: 9px;
  margin-right: 5px;
}

.chapters-list-item__link {
  color: white;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.chapters-list-item__link:hover {
  color: #be9dd1;
}

.chapters-list-item__date {
  color: grey;
  font-size: 11px;
  margin-right: 20px;
}

.portrait-display {
  width: 100%;
  display: flex;
  padding: 5px;
}

.portrait-display__img {
  margin-right: 15px;
}

@media screen and (max-width: 700px) {
  .portrait-display {
    flex-direction: column;
    align-items: center;
  }
}


/*# sourceMappingURL=styles.chunk.css.map*/