.main-container {
  margin: 20px 15%;
  display: grid;
  grid-template:
    "search search" auto
    "popular popular" auto
    "latest genres" auto
    / 2fr 1fr;
}

.searchbar-container-item {
  grid-area: search;
  margin: 0 15%;
  margin-bottom: 15px;
}

.popular-manga-container-item {
  grid-area: popular;
}

.latest-manga-container-item {
  grid-area: latest;
  height: auto;
}

.genres-manga-container-item {
  grid-area: genres;
}

@media screen and (max-width: 1024px) {
  .popular-manga-container-item {
    display: none;
  }
  .genres-manga-container-item {
    display: none;
  }
  .searchbar-container-item {
    display: none;
  }
  .main-container {
    margin: 20px 0;
    grid-template:
      "latest" auto
      "genres" auto
      / 100%;
  }
}
