.manga-main-container {
  margin: 20px 15%;
  display: grid;
  grid-template:
    "search search" auto
    "popular popular" auto
    "manga genres" auto
    "footer footer" auto
    / 2fr 1fr;
}

.searchbar-container-item {
  grid-area: search;
  margin: 0 15%;
  margin-bottom: 15px;
}

.popular-manga-container-item {
  grid-area: popular;
}

.manga-container-item {
  grid-area: manga;
  height: auto;
}

.genres-manga-container-item {
  grid-area: genres;
}

.footer-container-item {
  grid-area: footer;
}

@media screen and (max-width: 1024px) {
  .popular-manga-container-item {
    display: none;
  }
  .genres-manga-container-item {
    display: none;
  }
  .searchbar-container-item {
    display: none;
  }
  .manga-main-container {
    margin: 20px 0;
    grid-template:
      "manga" auto
      "genres" auto
      "footer" auto
      / 100%;
  }
}
