.nav-bar__items-list {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
}

.nav-bar__item {
    display: flex;
    align-self: center;
    vertical-align: middle;
    margin: 5px 0;
}
