.NavBar__ItemsList {
    list-style-type: none;
    margin: 0 0;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
}

.NavBar__Item {
    display: flex;
}

.NavBar__Item * {
    align-self: center;
    vertical-align: middle;
}
