.manga-info {
  margin: 20px;
}

.m-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
}

.m-info .first-icon p {
  font-size: 25px;
}

.manga-info__hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dashed #ccc;
  margin: 1em 0;
  padding: 0;
}

.manga-info__synopsis {
}

.manga-info__title {
  color: lightsalmon;
  font-size: 15px;
  font-weight: bold;
}

.manga-info__text {
  color: white;
  font-size: 13px;
}
