.TitleBar {
    height: 30px;
    border-radius: 7px;
    background-color: yellowgreen ;
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

.TitleBar__icon {
    margin: 0 5px 0 15px;
    align-self: center;
    width: 25px;
    height: 25px;
}

.TitleBar__text {
    color: white;
    margin: 0 0px;
    width: 150px;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    font-weight: bold;
    align-self: center;
}

.TitleBar__border {
    margin-left: 5px;
    width: 100%;
    background-color: black;
    border-radius: 3px;
    border-top: 10px solid yellowgreen;
}