.NavBar {
    background-color: black;
    height: 50px;
    color: white;
    padding: 0px 350px;
    display: flex;
    justify-content: space-between;
}

.NavBar__MainIcon {
    display: flex;
    margin: 5px;
}

.NavBar__MainIcon_Img {
    height: 80%;
    align-self: center;
    vertical-align: middle;
}
