.footer {
    background-color: black;
    padding: 10px 20%;
}

.footer__title {
    color: #61dafb;
    font-size: 15px;
    padding-bottom: 5px;
}

.footer__text {
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
    color: white;
}

.footer__copy {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    text-justify: center;
    color: white;
}