.PortraitList {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.PortraitList__Item {
    display: flex;
    align-self: center;
    vertical-align: middle;
    width: 143px;
    height: 200px;
    margin: 0 0 10px 0;
}