.Search .SearchItem img {
    height: 30px;
    width: 30px;
}

.fade-enter {
    opacity: 0.01;
    top: 0px;
}
  
.fade-enter.fade-enter-active {
    opacity: 1;
    transform: translateY(50px);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
}
  
.fade-leave {
    opacity: 1;
    top: 50x;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transform: translateY(-50px);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
}