.Search__Item img {
    height: 20px;
    width: 20px;
}

.scrollingDown-enter {
    opacity: 0.01;
    top: 0px;
}
  
.scrollingDown-enter.scrollingDown-enter-active {
    opacity: 1;
    transform: translateY(50px);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
}
  
.scrollingDown-leave {
    opacity: 1;
    top: 50x;
}

.scrollingDown-leave.scrollingDown-leave-active {
    opacity: 0.01;
    transform: translateY(-50px);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
}