.genre-list {
  padding-bottom: 5px;
}

.genre-list__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  color: white;
  margin-left: 20px;
  padding-top: 14px;
}

.genre-list__item {
  font-size: 14px;
  padding: 2px 0;
}

.genre-list__item__link {
  text-decoration: none;
  color: white;
}

.genre-list__item__link:hover {
  color: hotpink;
}
