.chapters-list-item {
    display: flex;
    justify-content: flex-start;
    margin: 7px;
}

.chapters-list-item__text {
    color: white;
    width: 65%;
    font-size: 13px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.chapters-list-item__date {
    color: grey;
    font-size: 11px;
}

