:root {
  --lateral-margin: 20%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MarginWrapper-20 {
  margin: 0 var(--lateral-margin); 
}

body {
  background-color: rgb(192,192,192);
  height: 100%;
  background-color: rgb(169,169,169);
  background-color: rgb(128,128,128);
  background-color: rgb(179, 255, 231);
  background-color: rgb(230, 255, 247);
  background-color: rgb(179, 230, 255);
  background-color: rgb(230, 247, 255);
  background-color: white;
}

.main-container {
  display: grid;
  grid-template: 
    "popular popular" auto
    "latest tags" auto
    / 2fr 1fr;
}

.popular-manga-container-item {
  grid-area: popular;
}

.latest-manga-container-item {
  grid-area: latest;
  height: auto;
}

.tags-manga-container-item {
  grid-area: tags;
  height: 200px;
}

@media screen and (max-width: 1024px) {
  :root {
    --lateral-margin: 0px;
  }
}