:root {
  --lateral-margin: 20%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margin-wrapper-20 {
  margin: 0 var(--lateral-margin); 
}

body {
  background-color: rgb(192,192,192);
  height: 100%;
  background-color: rgb(169,169,169);
  background-color: rgb(128,128,128);
  background-color: rgb(103, 190, 163);
  background-color: rgb(140, 132, 185);
  background-color: rgb(230, 247, 255);
  background-color: white;
  background-color: rgb(202, 212, 218);
}

.main-container {
  display: grid;
  margin-top: 20px;
  grid-template: 
    "search search" auto
    "popular popular" auto
    "latest genres" auto
    "footer footer" auto
    / 2fr 1fr;
}

.searchbar-container-item {
  grid-area: search;
  margin: 0 5%;
  margin-bottom: 15px;
}

.popular-manga-container-item {
  grid-area: popular;
}

.latest-manga-container-item {
  grid-area: latest;
  height: auto;
}

.genres-manga-container-item {
  grid-area: genres;
}

.footer-container-item {
  grid-area: footer;
}

@media screen and (max-width: 1024px) {
  :root {
    --lateral-margin: 0px;
  }
  .main-container {
    grid-template: 
    "latest" auto
    "genres" auto
    "footer" auto
    / 100%;
  }
}

@media screen and (max-width: 900px) {
  .popular-manga-container-item { display: none; }
  .tags-manga-container-item { display: none; }
  .main-container {
    grid-template: 
    "latest" auto
    "genres" auto
    "footer" auto
    / 100%;

  }
}