.synopsis__wrapper {
  display: flex;
  flex-direction: column;
  padding: 7px 20px;
  padding-left: 0;
}

.synopsis__title {
  color: white;
  text-decoration: none;
}

.synopsis__chapter {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.synopsis__views {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.synopsis__counts {
  color: white;
}

.synopsis__icon {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.synopsis__synopsis {
  color: white;
  height: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  font-size: 13px;
  padding: 2px 0;
}
